#  This file is part of systemd.
#  Ctrs trading system

[Unit]
Description=Ctrsd trading server
After=syslog.target
After=network.target

[Service]
Type=notify
ExecStart=/etc/init.d/ctrsd start
ExecReload=/etc/init.d/ctrsd restart
ExecStop=/etc/init.d/ctrsd stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
